$black: rgb(30, 30, 30);
$light-black: #5f5f5f;
$red: rgba(255,91,91,1);
$pink: #c252e1;
$purple: #7D59C7;
$blue: #6ecbf5;
$blue-darker: #00a3ff;
$green: #00c735;
$subtle-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$card-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

.container {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: $black;
    background-size: cover;
    background-position: center;    
    .innerContainer {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        section {
            font-size: 1.25em;
            @media (max-width: 450px) { font-size: 1em; }
            svg { 
                transform: scale(120%);
                margin-left: 10px;
            }
            background-color: rgba(255, 255, 255, 0.89);
            backdrop-filter: blur(10px);
            cursor: pointer;
            // border-left: 10px solid rgb(0, 0, 0);
            border-radius: 10px;
            // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            box-shadow: $card-shadow;
            padding: 10px;
            padding-right: 20px;
            color: $black;
            display: flex;
            align-items: center;
            gap: 20px;
            div {
                display: flex;
                flex-direction: column;
                padding: 20px;
                h1 {
                    margin: 0px;
                }
                h2 {
                    margin: 0px;
                    font-size: smaller;
                    color: grey;
                }
            }
            &:hover {
                transition: background-color .2s, color .2s, transform .2s;
                background-color: $black;
                color: white;
                transform: scale(102.5%);
                div {
                    transition: transform .2s;
                    transform: translateX(2.5px) rotate(-.5deg) scale(102.5%);
                }
                svg {
                    transition: fill .2s, transform .2s;
                    fill: white;
                    transform: rotate(2.5deg) scale(130%);
                }
            }
        }
        #dev {
        border-left: 10px solid $green;
        border-left: 10px solid $blue-darker;
        }
        #audio {
            border-left: 10px solid $purple;
            border-left: 10px solid $blue-darker;
        }
        #three {
            border-left: 10px solid $blue-darker;
        }
        #human {
            border-left: 10px solid $blue-darker;
            transform: translateY(8px) rotate(2.5deg);
            &:hover {
                color: #6ecbf5;
                transform: translateY(8px) rotate(2.5deg) scale(105%);
            }
            
        }
    }

}