#container {
    width: 75ch;
    text-align: center;
    // margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 1500px;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
}

#imageContainer {
    margin: auto;
    max-width: 300px;
}