$black: rgb(30, 30, 30);
$red: rgba(255,91,91,1);
$pink: #c252e1;
$blue: #6ecbf5;
$blue-darker: #00a3ff;
$green: #00c735;
$subtle-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

.blueText { color: $blue-darker}
.greenText { color: $green; }


#container {
    h1, h2, h3 { margin: 0px;}
    font-family: 'Poppins', sans-serif;
    // position: relative;
    // top: 0px;
    
    #hero {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        // justify-content: flex-start;
        
        text-align: center;
        align-items: center;
        // width: 500px;
        // background-color: #c252e1;

        padding: 10px;
        font-size: 32px;
        cursor: default;
        color: $black;
        
        h2 { font-weight: 400; font-size: 24px;}

        #profilePhotoContainer {
            margin: 10px;
            width: 200px;
            border: 5px solid $black;
            border-radius: 50%;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            box-shadow: $subtle-shadow;
            align-self: center;
            #profilePhoto {}
        }
        #techLogos {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            font-size: 16px;
            row-gap: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-top: 10px;
            margin-bottom: 20px;            
            .techGridItem {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                p { margin: 0px; font-size: 16px; }
                .techLogoContainer { width: 50px; }
            }
        }
        #githubLinkContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            padding: 10px;
            cursor: pointer;
            padding-left: 20px;
            padding-right: 20px;
            border: 2px solid $black;
            border-left: 10px solid $black;
            border-radius: 10px;
            box-shadow: $subtle-shadow;
            
            &:hover {
                // border-color: $blue;
                border-color: $blue-darker;
                transition: border-color .2s, background-color .2s, transform .1s;
            }
            &:active { box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; }
            svg { fill: $black}

            #githubIconContainer {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50px;
                // filter: brightness(0.4);
                // width: 35px;
                filter: contrast(115%);
            }
            #githubTextContainer {
                display: flex;
                align-items: center;
                justify-content: center;
                opacity: .9;
                width: 100px;
                // width: 75px;
            }
        }

        
    }
    #audioSummary {
        padding: 20px;
        font-size: 24px;
        font-weight: 700;
        color: $black;
        font-family: 'Open Sans', sans-serif;
        // text-align:justify;
        // text-align:center;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            max-width: 50ch;
            margin: 0px;
            cursor: default;
            
        }
        #paragraph1 {
        }
        #paragraph2 {
            
        }

        #pressLogosContainer {
            // width: ;
            display: grid;
            // grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            @media (min-width: 450px) {
                max-width: 50ch;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            }
            gap: 10px;
            background-color: $black;
            padding: 20px;
            border-radius: 10px;
            box-shadow: $subtle-shadow;
            // transform: rotate(.5deg);
            // filter: invert(85%);
            // grid-template-rows: 100px;
            // background-color: #00a3ff;
            .pressLogoWrapper {

            }
        }
        

    }
    #projects {
        margin-top: 75px;
        font-family: 'Poppins', sans-serif;
        font-family: 'Open Sans', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // align-items: flex-end;
        // width: 200px;
        // background-color: #00a3ff;
        color: $black;
        svg {
            transform: scale(200%);
            margin-bottom: 25px;
        }
        h1 {
            // font-size: 32px;
            font-size: 10vw;
            text-align: center;
        }
        h2 {
            text-align: center;
            font-size: 24;
            font-size: 6vw;
        }
        h3 {
            font-size: 5vw;
            font-weight: 400;
            opacity: .7;
        }

        #nextImageWrapper {
            
            // width: 50%;
            img {
                // border-radius: 10px;
            }
        }


        // background-color: #00a3ff;
    }
}